body {
  background-color: #6b7a8f;
  color: #3d2e18;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section,
aside {
  background-color: #dcc7aa;
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}
h1 {
  margin: 20px 0 20px 20px;
}
h2,
section h4,
aside h4 {
  background: linear-gradient(
    90deg,
    rgba(241, 145, 66, 1) 19%,
    rgba(107, 122, 143, 1) 64%
  );
  padding: 10px;
}

#contacts h4,
section fieldset legend h4 {
  background: linear-gradient(
    90deg,
    rgba(107, 122, 143, 1) 31%,
    rgba(220, 199, 170, 1) 65%
  );
  padding: 10px;
}
p {
  margin: 20px;
}
summary {
  background: linear-gradient(
    90deg,
    rgba(247, 195, 49, 1) 15%,
    rgba(220, 199, 170, 1) 46%
  );
  max-width: 200px;
  font-weight: bolder;
  font-size: 18px;
}
button {
  background-color: #afa6c3;
  padding: 5px 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #261c0e;
}
#footer {
  padding: 10px 15px 25px;
}
a {
  color: #1a1817;
}
a:hover {
  color: white;
}
a:visited {
  color: #261717;
}

#contacts {
  max-width: 280px;
  margin-bottom: -20px;
}

fieldset {
  max-width: 400px;
}
input {
  width: 400px;
}

table thead tr {
  background-color: #8191a8;
}
